<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="first-row">
    <ion-card class="card" style="margin-right: 3px;">
      <ion-card-header class="card-header" id="first-card-header">
        <div class="header">
          <ion-card-subtitle>
            <img src="../../assets/icon/startimc.png" alt="">
          </ion-card-subtitle>
          <ion-card-subtitle>IMC de départ</ion-card-subtitle>
        </div>
      </ion-card-header>

      <ion-card-content class="card-content" id="first-card-content" *ngIf="actualImc.startImc">
        {{actualImc.startImc}}
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-header class="card-header" id="second-card-header">
        <div class="header">
          <ion-card-subtitle>
            <img src="../../assets/icon/goalimc.png" alt="">
          </ion-card-subtitle>
          <ion-card-subtitle>Objectif d'IMC</ion-card-subtitle>
        </div>
      </ion-card-header>

      <ion-card-content class="card-content" id="second-card-content" *ngIf="actualImc.goalImc">
        {{actualImc.goalImc}}
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button fill="clear" class="about-imc" color="tertiary">En savoir plus sur l'IMC</ion-button>

  <ion-card class="card-imc">
    <ion-card-header class="card-header-imc" id="third-card-header">
      <div class="header">
        <ion-card-subtitle>
          IMC ACTUEL
        </ion-card-subtitle>
      </div>
    </ion-card-header>

    <ion-card-content class="card-content" *ngIf="actualImc">
      <div class="bar">
      <ion-progress-bar value="{{imcPourcent}}"></ion-progress-bar>
      <ion-label>18.5</ion-label>
      <ion-label>25</ion-label>
      <ion-label>30</ion-label>
      <ion-label>35</ion-label>
    </div>
    </ion-card-content>
  </ion-card>

  <ion-text color="medium">
    <p class="bottom-text">L'IMC est calculé en fonction de votre taille et de votre sexe, vous pouvez modifier ces paramètres dans la section "Mon Compte" de l'application</p>
  </ion-text>

</ion-content>